*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
//end css-reset

:root {
  --primary-color: #222120;
  --secondary-color: #f8f3ed;
  --gray: #faf5ef;
  --primary-font: "DM Sans";
  --secondary-font: "Prata";
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.font-heading {
  font-family: var(--secondary-font);
}

//header

.header {
  background-color: var(--primary-color);
  &-top {
    padding: 3rem 0;
  }
  &-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-contact {
    font-size: 2.4rem;
    line-height: calc(32 / 24);
    color: white;
  }
  &-main {
    display: flex;
    align-items: center;
    padding-top: 15.5rem;
    gap: 3.2rem;
  }
  &-content {
    width: 100%;
    max-width: 72.5rem;
  }
  &-heading {
    color: white;
  }
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.8rem;
  &-link {
    color: var(--gray);
    opacity: 0.4;
    text-decoration: none;
  }
}
