//end css-reset

:root {
  --primary-color: #222120;
  --secondary-color: #f8f3ed;
  --primary-font: "DM Sans";
  --secondary-font: "Prata";
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
